@import '~bootstrap/scss/bootstrap';

$dropdown-z-index: 1092;
$dropdown-overlay-z-index: 1091;
$navbar-bg-color: #004c70;
$white: white;
$black: black;
$gray-color: #404040;
$gray-100: #eceeef;
$gray-200: #dddddd;
$gray-300: #78909c;
$gray-400: #818a91;
$gray-500: #455a64;
$gray-600: #37474f;
$gray-700: #263238;
$gray-800: #424547;
$gray-900: #373a3c;
$gray-1000: #4A4A4A;
$gray-1100: #373a3c;